## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##   https://flox.dev/docs/reference/command-reference/manifest.toml/
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1

## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
tomcat9.pkg-path = "tomcat9"
jdk21.pkg-path = "jdk21"
jdk21.priority = 1

## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]

## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
# on-activate = '''
#   # -> Set variables, create files and directories
#   # -> Perform initialization steps, e.g. create a python venv
#   # -> Useful environment variables:
#   #      - FLOX_ENV_PROJECT=/home/user/example
#   #      - FLOX_ENV=/home/user/example/.flox/run
#   #      - FLOX_ENV_CACHE=/home/user/example/.flox/cache
# '''

## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
common = '''
  export CATALINA_BASE=$(mktemp -d -t tomcatXXX)
  export CATALINA_OUT=$CATALINA_BASE/logs/catalina.out
  mkdir -p $CATALINA_BASE/{conf,logs,webapps,temp,work}
  CATALINA_HOME=$(dirname $(dirname $(which catalina.sh)))
  cp -r $CATALINA_HOME/conf/* $CATALINA_BASE/conf/
echo ""
echo "  ┌─────────────────────────────────────────────────┐"
echo "  │  Flox Tomcat Demo Environment                   │"
echo "  │                                                 │"
echo "  │  Run the demo:   ./demo.sh --auto               │"
echo "  │  Interactive:    ./demo.sh                       │"
echo "  │                                                 │"
echo "  │  Manual usage:                                  │"
echo "  │    catalina.sh start                            │"
echo "  │    http://localhost:8080/sample/                 │"
echo "  │    catalina.sh stop                             │"
echo "  └─────────────────────────────────────────────────┘"
echo ""
'''

## Services ---------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## ------------------------------------------------------------------
[services]
tomcat.command = "catalina.sh run"


## Include ----------------------------------------------------------
## ... environments to create a composed environment
## ------------------------------------------------------------------
[include]
# environments = [
#     { dir = "../common" }
# ]


## Build and publish your own packages ------------------------------
##  $ flox build
##  $ flox publish
## ------------------------------------------------------------------
[build]
# [build.myproject]
# description = "The coolest project ever"
# version = "0.0.1"
# command = """
#   mkdir -p $out/bin
#   cargo build --release
#   cp target/release/myproject $out/bin/myproject
# """


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
# systems = [
#   "aarch64-darwin",
#   "aarch64-linux",
#   "x86_64-darwin",
#   "x86_64-linux",
# ]
# Uncomment to disable CUDA detection.
# cuda-detection = false

